.companies {
	padding-top: 108px;
	padding-bottom: 104px;
	background-color: $secondary;
	h2 {
		@include heading;
		text-align: center;
		margin-bottom: 70px;
	}
	.logos-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0 20px 0 27px;
		img {
			display: block;
		}
	}
}
