.integrate {
	padding-top: 169px;
	padding-bottom: 162px;
	h2 {
		@include heading(4.063rem, 75px);
		text-align: center;
	}
	p {
		text-align: center;
		font-size: 1.563rem;
		line-height: 30px;
		margin-bottom: 25px;
	}
	img {
		display: block;
		margin: 0 auto 32px;
	}
	button {
		@include button-filled(193px, 60px);
		margin: auto;
	}
}
