.integrate {
	padding-top: 169px;
	padding-bottom: 162px;
	h2 {
		text-align: center;
		font-size: 4.063rem;
		font-weight: 600;
		line-height: 75px;
	}
	p {
		text-align: center;
		font-size: 1.563rem;
		line-height: 30px;
		margin-bottom: 25px;
	}
	img {
		display: block;
		margin: 0 auto 32px;
	}
	button {
		@include button-filled(193px, 60px);
		margin: auto;
	}
}
