.quote {
	padding-top: 53px;
	padding-bottom: 105px;
	background-color: $aqua;
	.flx-wrapper {
		display: flex;
		justify-content: space-between;
		.block {
			h3 {
				@include description(1.875rem, 40px);
				padding-top: 10px;
				margin-bottom: 23px;
			}
			p {
				@include description(0.938rem, 25px);
				margin-bottom: 7px;
			}
			img {
				display: block;
			}
		}
		.img-wrapper {
			padding-left: 60px;
			img {
				display: block;
			}
		}
	}
}
