// Fonts
@font-face {
	font-family: "Graphik";
	src: url("./fonts/Graphik-Regular.eot");
	src: local("Graphik Regular"), local("Graphik-Regular"),
		url("./fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"),
		url("./fonts/Graphik-Regular.woff2") format("woff2"),
		url("./fonts/Graphik-Regular.woff") format("woff"),
		url("./fonts/Graphik-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Graphik";
	src: url("./fonts/Graphik-Semibold.eot");
	src: local("Graphik Semibold"), local("Graphik-Semibold"),
		url("./fonts/Graphik-Semibold.eot?#iefix") format("embedded-opentype"),
		url("./fonts/Graphik-Semibold.woff2") format("woff2"),
		url("./fonts/Graphik-Semibold.woff") format("woff"),
		url("./fonts/Graphik-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

// Variables
$main: #ff6336;
$primary: #fff8e4;
$secondary: #ff9c7d;
$secondary-light: #dabc98;
$aqua: #c9e8f2;
$dark: #000000;
$light: #ffffff;
$light-gray: #eeeeee;

// Reset
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-weight: 400;
}

ul {
	list-style: none;
}

button {
	display: block;
	outline: none;
	cursor: pointer;
	font-weight: 600;
}

html {
	font-size: 16px;
}

body {
	font-family: "Graphik", sans-serif;
	font-size: 1rem;
	color: $dark;
}

.container {
	position: relative;
	max-width: 1330px;
	padding: 0 20px;
	margin: 0 auto;
}
