@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Regular.eot");
  src: local("Graphik Regular"), local("Graphik-Regular"), url("./fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Graphik-Regular.woff2") format("woff2"), url("./fonts/Graphik-Regular.woff") format("woff"), url("./fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Semibold.eot");
  src: local("Graphik Semibold"), local("Graphik-Semibold"), url("./fonts/Graphik-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/Graphik-Semibold.woff2") format("woff2"), url("./fonts/Graphik-Semibold.woff") format("woff"), url("./fonts/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  display: block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

html {
  font-size: 16px;
}

body {
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  color: #000000;
}

.container {
  position: relative;
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  z-index: 9;
}
.header .container {
  padding: 0;
}
.header .flx {
  display: flex;
  align-items: center;
}
.header .flx a.logo img {
  display: block;
  margin-right: 51px;
}
.header .flx ul {
  display: flex;
}
.header .flx ul li a {
  display: block;
  color: #000000;
  font-size: 0.938rem;
  line-height: 20px;
  text-decoration: none;
  margin-right: 57px;
  transition: color 0.3s;
}
.header .flx ul li a:hover {
  color: #ff6336;
}
.header .flx ul li:nth-last-child(1) a {
  margin-right: 0;
}
.header .flx button.login {
  width: 120px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #000000;
  font-size: 1rem;
  margin-left: auto;
  transition: background-color 0.3s;
}
.header .flx button.login:hover {
  background-color: #ff6336;
}
.header .flx button.try-free {
  width: 120px;
  height: 45px;
  background-color: #ff6336;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 10px;
  transition: background-color 0.3s;
}
.header .flx button.try-free:hover {
  background-color: #000000;
}

.hero {
  padding-top: 129px;
  padding-bottom: 172px;
}
.hero .flx {
  display: flex;
  align-items: center;
}
.hero .flx .block h1 {
  font-size: 4.063rem;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 51px;
}
.hero .flx .block h2 {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 50px;
}
.hero .flx .block h2 a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.hero .flx .block h2 a:hover {
  color: #ff6336;
}
.hero .flx .block p {
  font-size: 0.938rem;
  line-height: 25px;
}
.hero .flx .block .bth-wrapper {
  display: flex;
  margin-bottom: 25px;
}
.hero .flx .block .bth-wrapper button.try-free {
  width: 160px;
  height: 60px;
  background-color: #ff6336;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin-right: 10px;
  transition: background-color 0.3s;
}
.hero .flx .block .bth-wrapper button.try-free:hover {
  background-color: #000000;
}
.hero .flx .block .bth-wrapper button.demo {
  width: 160px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #000000;
  font-size: 1rem;
  transition: background-color 0.3s;
}
.hero .flx .block .bth-wrapper button.demo:hover {
  background-color: #ff6336;
}
.hero .flx .block img {
  display: block;
}

.companies {
  padding-top: 108px;
  padding-bottom: 104px;
  background-color: #ff9c7d;
}
.companies h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-bottom: 70px;
}
.companies .logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 27px;
}
.companies .logos-wrapper img {
  display: block;
}

.features {
  padding-top: 90px;
  padding-bottom: 150px;
}
.features .flx-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 250px;
}
.features .flx-wrapper .block {
  width: 50%;
}
.features .flx-wrapper .block h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 30px;
}
.features .flx-wrapper .block p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.features .flx-wrapper .block p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.features .flx-wrapper .block p a:hover {
  color: #ff6336;
}
.features .flx-wrapper .block a.start-now {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}
.features .flx-wrapper .block a.start-now:hover {
  color: #ff6336;
}
.features .flx-wrapper .block img {
  display: block;
  width: 100%;
}
.features .flx-wrapper:nth-child(even) {
  flex-direction: row-reverse;
}
.features .flx-wrapper:nth-child(even) .block:nth-child(1) {
  padding-left: 138px;
}
.features .flx-wrapper:nth-child(odd) .block:nth-child(1) {
  padding-right: 138px;
}
.features .flx-wrapper:nth-last-child(1) {
  margin-bottom: 0;
}

.localize {
  padding-top: 120px;
  padding-bottom: 147px;
  background-color: #fff8e4;
}
.localize h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-bottom: 79px;
}
.localize .flx-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 57px 110px;
}
.localize .flx-wrapper .block {
  width: calc(33.3333333333% - 74px);
}
.localize .flx-wrapper .block h3 {
  font-size: 1.563rem;
  font-weight: 600;
  line-height: 35px;
  text-align: center;
  margin-bottom: 20px;
}
.localize .flx-wrapper .block p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
}
.localize .flx-wrapper .block p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.localize .flx-wrapper .block p a:hover {
  color: #ff6336;
}
.localize .flx-wrapper .block img {
  display: block;
  margin: 21px auto 26px;
}

.boost {
  padding-top: 154px;
  padding-bottom: 217px;
}
.boost h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 84px;
}
.boost .flx-wrapper {
  display: flex;
  gap: 0 31px;
}
.boost .flx-wrapper .block .img-wrapper {
  display: flex;
  align-items: center;
  height: 201px;
  margin-bottom: 49px;
}
.boost .flx-wrapper .block .img-wrapper img {
  display: block;
}
.boost .flx-wrapper .block h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 34px;
}
.boost .flx-wrapper .block p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}
.boost .flx-wrapper .block p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.boost .flx-wrapper .block p a:hover {
  color: #ff6336;
}
.boost .flx-wrapper .block a {
  font-size: 1.25rem;
  color: #000000;
  line-height: 30px;
  transition: color 0.3s;
}
.boost .flx-wrapper .block a:hover {
  color: #ff6336;
}

.quote {
  padding-top: 53px;
  padding-bottom: 105px;
  background-color: #c9e8f2;
}
.quote .flx-wrapper {
  display: flex;
  justify-content: space-between;
}
.quote .flx-wrapper .block h3 {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 40px;
  padding-top: 10px;
  margin-bottom: 23px;
}
.quote .flx-wrapper .block h3 a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.quote .flx-wrapper .block h3 a:hover {
  color: #ff6336;
}
.quote .flx-wrapper .block p {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 7px;
}
.quote .flx-wrapper .block p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.quote .flx-wrapper .block p a:hover {
  color: #ff6336;
}
.quote .flx-wrapper .block img {
  display: block;
}
.quote .flx-wrapper .img-wrapper {
  padding-left: 60px;
}
.quote .flx-wrapper .img-wrapper img {
  display: block;
}

.rating {
  padding-top: 79px;
  padding-bottom: 80px;
  background-color: #dabc98;
}
.rating .flx-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rating .flx-wrapper .block {
  display: flex;
  align-items: center;
}
.rating .flx-wrapper .block img {
  display: block;
  margin-right: 67px;
}
.rating .flx-wrapper .block h2 {
  font-size: 2.188rem;
  font-weight: 600;
  line-height: 50px;
}
.rating .flx-wrapper .rating-logos {
  display: flex;
  align-items: center;
  border-left: 1px solid #000000;
  min-height: 168px;
  padding-right: 62px;
}
.rating .flx-wrapper .rating-logos img {
  display: block;
  margin-left: 70px;
}

.integrate {
  padding-top: 169px;
  padding-bottom: 162px;
}
.integrate h2 {
  font-size: 4.063rem;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
}
.integrate p {
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 25px;
}
.integrate p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.integrate p a:hover {
  color: #ff6336;
}
.integrate img {
  display: block;
  margin: 0 auto 32px;
}
.integrate button {
  width: 193px;
  height: 60px;
  background-color: #ff6336;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin: auto;
  transition: background-color 0.3s;
}
.integrate button:hover {
  background-color: #000000;
}

.try-it-free {
  padding-top: 119px;
  padding-bottom: 161px;
  background-color: #ff9c7d;
}
.try-it-free h2 {
  font-size: 4.063rem;
  font-weight: 600;
  line-height: 75px;
  text-align: center;
  margin-bottom: 29px;
}
.try-it-free p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin-bottom: 54px;
}
.try-it-free p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.try-it-free p a:hover {
  color: #ff6336;
}
.try-it-free button {
  width: 160px;
  height: 60px;
  background-color: #ff6336;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  background-color: #000000;
  margin: 0 auto;
  transition: background-color 0.3s;
}
.try-it-free button:hover {
  background-color: #ff6336;
}

.footer {
  background-color: #eeeeee;
}
.footer .footer-general {
  padding-top: 92px;
  padding-bottom: 95px;
  display: flex;
}
.footer .footer-general .block {
  width: 300px;
}
.footer .footer-general .block h2 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 50px;
  margin-bottom: 28px;
}
.footer .footer-general .block p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 15px;
}
.footer .footer-general .block p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.footer .footer-general .block p a:hover {
  color: #ff6336;
}
.footer .footer-general .block a {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 30px;
  text-decoration: none;
  color: #000000;
  transition: color 0.3s;
}
.footer .footer-general .block a:hover {
  color: #ff6336;
}
.footer .footer-general .block img {
  display: block;
}
.footer .footer-general .block img.case-studies {
  margin-bottom: 31px;
}
.footer .footer-general .block img.spesialized {
  margin-bottom: 11px;
}
.footer .footer-general .links-wrapper {
  width: calc(100% - 300px);
  display: flex;
  justify-content: space-between;
  padding-left: 140px;
}
.footer .footer-general .links-wrapper .links-block {
  max-width: 187px;
}
.footer .footer-general .links-wrapper .links-block h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 21px;
}
.footer .footer-general .links-wrapper .links-block a {
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 15px;
  display: block;
  text-decoration: none;
  color: #000000;
  margin-bottom: 15px;
  transition: color 0.3s;
}
.footer .footer-general .links-wrapper .links-block a a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.footer .footer-general .links-wrapper .links-block a a:hover {
  color: #ff6336;
}
.footer .footer-general .links-wrapper .links-block a:nth-last-child(1) {
  margin-bottom: 0;
}
.footer .footer-general .links-wrapper .links-block a:hover {
  color: #ff6336;
}
.footer .footer-bottom {
  display: flex;
  align-items: center;
  padding: 48px 0;
  border-top: 1px solid #000000;
}
.footer .footer-bottom img {
  display: block;
  margin-right: 14px;
}
.footer .footer-bottom p {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 15px;
}
.footer .footer-bottom p a {
  color: #000000;
  text-decoration: underline;
  transition: color 0.3s;
}
.footer .footer-bottom p a:hover {
  color: #ff6336;
}
.footer .footer-bottom .copyright {
  margin-left: auto;
  padding-right: 76px;
}/*# sourceMappingURL=app.css.map */