@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Regular.eot");
  src: local("Graphik Regular"), local("Graphik-Regular"), url("./fonts/Graphik-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/Graphik-Regular.woff2") format("woff2"), url("./fonts/Graphik-Regular.woff") format("woff"), url("./fonts/Graphik-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik";
  src: url("./fonts/Graphik-Semibold.eot");
  src: local("Graphik Semibold"), local("Graphik-Semibold"), url("./fonts/Graphik-Semibold.eot?#iefix") format("embedded-opentype"), url("./fonts/Graphik-Semibold.woff2") format("woff2"), url("./fonts/Graphik-Semibold.woff") format("woff"), url("./fonts/Graphik-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  display: block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
}

html {
  font-size: 16px;
}

body {
  font-family: "Graphik", sans-serif;
  font-size: 1rem;
  color: #000000;
}

.container {
  position: relative;
  max-width: 1330px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;
  background-color: #ffffff;
  z-index: 9;
}
.header .container {
  padding: 0;
}
.header .flx {
  display: flex;
  align-items: center;
}
.header .flx a.logo img {
  display: block;
  margin-right: 51px;
}
.header .flx ul {
  display: flex;
}
.header .flx ul li a {
  display: block;
  color: #000000;
  font-size: 0.938rem;
  line-height: 20px;
  text-decoration: none;
  margin-right: 57px;
}
.header .flx ul li:nth-last-child(1) a {
  margin-right: 0;
}
.header .flx button.login {
  width: 120px;
  height: 45px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #000000;
  font-size: 1rem;
  margin-left: auto;
}
.header .flx button.try-free {
  width: 120px;
  height: 45px;
  background-color: #ff6336;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin-left: 10px;
}

.hero {
  padding-top: 129px;
  padding-bottom: 172px;
}
.hero .flx {
  display: flex;
  align-items: center;
}
.hero .flx .block h1 {
  font-size: 4.063rem;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 51px;
}
.hero .flx .block h2 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 50px;
}
.hero .flx .block p {
  font-size: 0.938rem;
  line-height: 25px;
}
.hero .flx .block .bth-wrapper {
  display: flex;
  margin-bottom: 25px;
}
.hero .flx .block .bth-wrapper button.try-free {
  width: 160px;
  height: 60px;
  background-color: #ff6336;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  margin-right: 10px;
}
.hero .flx .block .bth-wrapper button.demo {
  width: 160px;
  height: 60px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  color: #000000;
  font-size: 1rem;
}
.hero .flx .block img {
  display: block;
}

.companies {
  padding-top: 108px;
  padding-bottom: 104px;
  background-color: #ff9c7d;
}
.companies h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-bottom: 70px;
}
.companies .logos-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 27px;
}
.companies .logos-wrapper img {
  display: block;
}

.features {
  padding-top: 90px;
  padding-bottom: 150px;
}
.features .flx-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 250px;
}
.features .flx-wrapper .block {
  width: 50%;
}
.features .flx-wrapper .block h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  margin-bottom: 30px;
}
.features .flx-wrapper .block p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
}
.features .flx-wrapper .block p span {
  text-decoration: underline;
}
.features .flx-wrapper .block a {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000000;
  text-decoration: none;
  line-height: 30px;
}
.features .flx-wrapper .block img {
  display: block;
  width: 100%;
}
.features .flx-wrapper:nth-child(even) {
  flex-direction: row-reverse;
}
.features .flx-wrapper:nth-child(even) .block:nth-child(1) {
  padding-left: 138px;
}
.features .flx-wrapper:nth-child(odd) .block:nth-child(1) {
  padding-right: 138px;
}
.features .flx-wrapper:nth-last-child(1) {
  margin-bottom: 0;
}

.localize {
  padding-top: 120px;
  padding-bottom: 147px;
  background-color: #fff8e4;
}
.localize h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-bottom: 79px;
}
.localize .flx-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 57px 110px;
}
.localize .flx-wrapper .block {
  width: calc(33.3333333333% - 74px);
}
.localize .flx-wrapper .block h3 {
  font-size: 1.563rem;
  text-align: center;
  font-weight: 600;
  line-height: 35px;
  margin-bottom: 20px;
}
.localize .flx-wrapper .block p {
  font-size: 1.125rem;
  text-align: center;
  line-height: 25px;
}
.localize .flx-wrapper .block p span {
  text-decoration: underline;
}
.localize .flx-wrapper .block img {
  display: block;
  margin: 21px auto 26px;
}

.boost {
  padding-top: 154px;
  padding-bottom: 217px;
}
.boost h2 {
  font-size: 3.125rem;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  margin-bottom: 84px;
}
.boost .flx-wrapper {
  display: flex;
  gap: 0 31px;
}
.boost .flx-wrapper .block .img-wrapper {
  display: flex;
  align-items: center;
  height: 201px;
  margin-bottom: 49px;
}
.boost .flx-wrapper .block .img-wrapper img {
  display: block;
}
.boost .flx-wrapper .block h3 {
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 34px;
}
.boost .flx-wrapper .block p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 25px;
}
.boost .flx-wrapper .block p span {
  text-decoration: underline;
}
.boost .flx-wrapper .block a {
  font-size: 20px;
  color: #000000;
  line-height: 30px;
}/*# sourceMappingURL=app.css.map */